* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh);
}
.App__Start {
  width: 100%;
  height: 100vh;
  display: flex; /*none*/
  justify-content: center;
  align-items: center;
  background-color: #9500ff;
  overflow: hidden;
}
.App__Start .login,
.App__Start .signup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.App__Start .login {
  display: flex;
  transition: 1s;
}
.App__Start .signup {
  display: none;
  transition: 1s;
}
.App__Start .login form h1,
.App__Start .signup form h1 {
  color: #333;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.App__Start .login form .error {
  display: none; /*block*/
  color: #f00;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.App__Start .login form .error.active {
  display: block; /*block*/
}
.App__Start .login form input,
.App__Start .signup form input {
  padding: 7px 15px;
  width: 100%;
  margin: 10px 0;
  border: none;
  outline: none;
  background-color: #d0d0d0;
}
.App__Start .login form input[type="submit"],
.App__Start .signup form input[type="submit"] {
  text-transform: uppercase;
  cursor: pointer;
  background-color: #3150eb;
  max-width: 40%;
  margin-bottom: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.App__Start .signup form input[type="submit"]:active,
.App__Start .login form input[type="submit"]:active {
  background-color: #273eb0;
}
.App__Start .login form p,
.App__Start .signup form p {
  font-size: 12px;
  padding-right: 50px;
  letter-spacing: 1px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.App__Start .login form p button,
.App__Start .signup form p button {
  outline: none;
  border: none;
  background-color: transparent;
  text-decoration: none;
  line-height: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #9500ff;
  margin-left: 10px;
  margin-bottom: 3px;
}
.App__Start .signup {
  display: none;
}
.google-btn {
  outline: none;
  border: none;
  position: relative;
  width: 200px;
  height: 40px;
  left: 10px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
  position: relative;
  width: 45px !important;
  height: 38px;
  left: 1px;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: relative;
  width: 20px;
  height: 20px;
}
.google-btn .btn-text {
  position: relative;
  color: #fff;
  font-size: 14px !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  text-align: center;
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
.App__loggedin {
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(20, 22, 46);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.App__header {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px 5px 0 0;
}
.App__header h1 {
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  color: #fafafa;
  text-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
}
.App__header h1:after {
  content: "";
  width: 200px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 10px;
}
.App__input {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  z-index: 4;
}
.App__input form {
  width: 100%;
  display: flex;
}
.App__input form input {
  width: 100%;
  display: flex;
  outline: none;
  border: none;
  padding: 0 25px;
  border-radius: 0 0 0 5px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  box-shadow: 25px 25px 50px rgb(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.App__input form input::placeholder {
  color: #f1f1f1cc;
  font-weight: 400;
}
.App__input form button {
  outline: none;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-bottom-right-radius: 5px;
}
.App__input form button:hover,
.App__input form button:active {
  background-color: #001aff;
}
.Room_details {
  height: 40px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(23, 23, 37);
  color: #fff;
}
.Room_details p {
  margin: 0 5px;
  padding: 0;
}
.Room_details button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
}
.App__display {
  height: calc(100% - 100px);
  background-color: rgb(0, 0, 0, 0.2);
  box-shadow: 25px 25px 50px rgb(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
  z-index: 2;
}
.App__message,
.App__sendmessage {
  position: relative;
  padding: 5px 10px;
  width: fit-content;
  margin: 35px;
  background-color: #3e4549;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
  border-radius: 7px;
  border-top-left-radius: 0;
  z-index: 4;
}
.App__message:before,
.App__sendmessage:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -15px;
  top: 0px;
  border-width: 8px;
  border-style: solid;
  border-color: #3e4549 #3e4549 transparent transparent;
  z-index: 5;
}
.App__sendmessage {
  background-color: #056062;
}
.App__sendmessage:before {
  border-color: #056062 #056062 transparent transparent;
  z-index: 5;
}
.App__display__user {
  width: 100%;
  font-size: 13px;
  color: #ff0;
  font-weight: 700;
  letter-spacing: 1px;
}
.App__display__msg {
  width: 100%;
  font-size: large;
  padding-left: 10px;
}
.App__display__time {
  float: right;
  width: fit-content;
  font-size: xx-small;
  margin-left: 15px;
  transform: translateY(15px);
}
Button {
  float: right;
  z-index: 4;
}
.App__downarrow {
  cursor: pointer;
  position: absolute;
  bottom: 90px;
  right: 60px;
  width: 40px;
  height: 40px;
  background-color: #262d31;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.Room_login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.Room_form {
  height: 45%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Room_form:nth-of-type(2) {
  height: 55%;
}
.Room_form h2 {
  color: #fff;
  letter-spacing: 3px;
  font-weight: 700;
}
.Room_form input {
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
  padding: 7px 15px;
  background-color: rgba(255, 255, 255, 0.1);
}
.Room_form button {
  border: none;
  outline: none;
  width: 100px;
  padding: 5px 15px 7px 15px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  background-color: rgb(29, 85, 206);
  line-height: 25px;
  border-radius: 4px;
}
.Room_form button:active,
.Room_form button:hover {
  background-color: rgb(11, 60, 167);
}
@media screen and (max-width: 450px) {
  .App__Start {
    position: relative;
  }
  .App__Start:before {
    content: "";
    position: absolute;
    display: block;
    width: 800px;
    height: 75vh;
    background-color: #fff;
    transform: rotate(-200deg);
  }
  .App__Start .login,
  .App__Start .signup {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
  }
  .App__Start .login form,
  .App__Start .signup form {
    width: calc(100% - 20px);
  }
  .App__Start .login form h1,
  .App__Start .signup form h1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .App__Start .login form input,
  .App__Start .signup form input {
    padding: 15px;
    font-size: 15px;
    width: 100%;
    margin: 20px 0;
  }
  .App__Start .login form input[type="submit"],
  .App__Start .signup form input[type="submit"] {
    max-width: 80%;
    margin: 20px 0;
    position: relative;
    left: 50%;
    font-size: 16px;
    padding: 10px;
    transform: translateX(-50%);
  }
  .App__Start .login form p,
  .App__Start .signup form p {
    text-align: center;
    padding: 0px;
    justify-content: center;
  }
  .App__loggedin {
    width: 100%;
    height: 100vh;
    padding: 10px;
  }
  .Room_details {
    height: fit-content;
    padding: 5px 10px;
    flex-direction: column;
  }
  .App__header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    padding: 10px 0 0 0;
  }
  .App__header h1 {
    font-weight: 600;
    font-size: 2.2em;
    position: relative;
    text-align: center;
  }
  .App__header h1:after {
    content: "";
    width: 0px;
    height: 0px;
  }
  .App__header Button {
    font-size: 15px;
    padding: 4px 10px;
    margin-bottom: 15px;
  }
  .App__input form input {
    padding: 10px 25px;
  }
  .App__input form button {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    border-bottom-right-radius: 15px;
  }
  .App__message,
  .App__sendmessage {
    margin: 15px 25px;
  }
  .App__downarrow {
    bottom: 70px;
    right: 30px;
  }
}
